<div class="row center">
  <img src="DQ.logo_sign_up.png" style="padding: 30px;">
</div>

<div class="row">
    <form class="col s12 m12 l12">
      <div class="row center">
      	<i class="material-icons medium offset-m2 offset-l2 col s1 m1 l1">people</i>
        <div class="input-field offset-s2 col s8 m7 l7">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">닉네임</label>
        </div>
      </div>
      <div class="row center">
      	<i class="material-icons medium offset-m2 offset-l2 col s1 m1 l1">mail</i>
        <div class="input-field offset-s2 col s8 m7 l7">
          <input id="email" type="email" class="validate">
          <label for="email">이메일</label>
        </div>
      </div>
      <div class="row center">
      	<i class="material-icons medium offset-m2 offset-l2 col s1 m1 l1">vpn_key</i>
        <div class="input-field offset-s2 col s8 m7 l7">
          <input id="password" type="password" class="validate">
          <label for="password">패스워드</label>
        </div>
      </div>
       <div class="row center">
       	<i class="material-icons medium offset-m2 offset-l2 col s1 m1 l1">vpn_key</i>
        <div class="input-field offset-s2 col s8 m7 l7">
          <input id="password" type="password" class="validate">
          <label for="password">패스워드 확인</label>
        </div>
      </div>
      <div class="row center">
        <a class="waves-effect waves-light btn yellow darken-3" style="margin-bottom: 100px;" href="/index">회원가입</a>
      </div>
    </form>
  </div>


<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
