
<!--로고-->
<div class="container">
  <div>
  	<h1 class= "col s12 offset-s2">Daily Quest</h1>
  </div>
  
  <div class="center">
  	<h3>퀘스트 정보</h3>
  </div>

  <!--타이머-->
  <div class="center">
    
    <div class="timer">
    <h5>남은 시간</h5><br>
    <h2><p id="demo"></p></h2>
    </div>
    <script>
    // Set the date we're counting down to
     
      var countDownDate = ((<%= @userquest.created_at.hour %> + 1) * 3600000) + (<%= @userquest.created_at.min %> * 60 * 1000 )
      + (<%= @userquest.created_at.sec %> * 1000) + (<%= @userquest.quest.time %> * 3600000);
      var timeset = new Date();
   
      // Update the count down every 1 second
      var x = setInterval(function() {

      // Get todays date and time
      var now = new Date().getTime();
     
      // Find the distance between now an the count down date
      var distance = countDownDate - now;
      
      // Time calculations for days, hours, minutes and seconds
      //var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)) + 1;
      var seconds = Math.floor((distance % (1000 * 60)) / 1000) + 8;
      
      timeset.setHours(hours, minutes, seconds);
      var hour = timeset.getHours();
      var minute = timeset.getMinutes();
      var second = timeset.getSeconds();
      
      // Output the result in an element with id="demo"
      document.getElementById("demo").innerHTML = hour + "시간 "
      + minute + "분 " + second + "초 ";
      
      // If the count down is over, write some text 
      if (distance > 0) {
          clearInterval(x);
          document.getElementById("demo").innerHTML = "FAIL";
        }
      }, 1000);
      
    </script>
  </div>
  
<!--퀘스트 설명창-->
  <div class=" row">
    <div class="card grey lighten-3 center">
      <div class="card-content blue-grey-text text-darken-4 center">
        <span class="card-title center grey lighten-1">퀘스트 완료하기</span>
        <p>카데고리: <%= @userquest.quest.theme %></p>
        <p>퀘스트 이름: <%= @userquest.quest.content %></p>
        <p>퀘스트 설명: <%= @userquest.quest.description %></p>
      </div>
    </div>
  </div>

<!--퀘스트 완료 방법을 측정합니다-->
<!--사진으로 완료하는 퀘스트-->
<% if @questCondition == "Photo" %>
<!--퀘스트 파일 업로드-->
  <form action="/home/makeQuest_quest/<%= @userquest.id %>/<%= @user.id %>" method="GET">
    <div class="file-field input-field center">
      <div class="btn">
        <span>찾아보기</span>
        <input type="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="파일 업로드">
      </div>
    </div>
    <div class="row center" id="target">
        <a href="/home/makeQuest_quest/<%= @userquest.id %>/<%= @user.id %>" id="success"><input type="submit" class="waves-effect waves-light btn" value="제출하기"></a>
        <a href="/home/makeQuest_quest">포기하기</a>
    </div>
  </form>
<!--단어 나열로 완료하는 퀘스트-->
<% elsif @quest.condition == "Array" %>
  <%= render 'formArray' %>
  
<!--글쓰기로 완료하거나, 확인할 수 없는 경우(오류)  -->
<% else %>
  <%= render 'formWrite' %>
  <!--_formWrite.html.erb 를 표시합니다-->
<% end %>
</div>