<p id="notice"><%= notice %></p>

<div class="container center">
  <p>
    <strong>Title:</strong>
    <%= @post.title %>
  </p>
  
  <p>
    <strong>Content:</strong>
    <%= @post.content %>
  </p>
  
  <p>
    <strong>User:</strong>
    <%= @post.user.nickname %>
  </p>
  
  <p>
    <strong>Theme:</strong>
    <%= @post.theme %>
  </p>
  
  <%= link_to 'Edit', edit_post_path(@post) if @post.updatable_by? current_user %> |
  <%= link_to 'Back', posts_path %>
</div>